

.options-container:hover{
  cursor: pointer;
}


.correct {
  background-color: rgba(0,255,0,0.3);
}
.wrong {
  background-color:rgba(255, 0, 0, 0.4);
}

.show-correct-answer {
  background-color: rgba(0,255,0,0.3);
}

#progressBar {
  width: 10rem;
  height: 1rem;
  border: 0.2rem solid rgb(11,223,36);
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;  
}

#progressBarFull{
  height: 100%;
  background: #f6ffa5;
  width: 0%;
  
}


/*----- welcome page----- */
#start-quiz-button{
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 5px;
  font-size: 18px ;
  padding: 0.7rem;
  background-color:#f6ffa5;
  color :#426084;
}
#start-quiz-button:hover{
  border-radius: 5px;
  font-size: 18px ;
  padding: 1rem;
  background-color:#f6ffa5;
  color :#426084;
}

svg text {
 font-family: Lora;
 letter-spacing: 10px;
 stroke: #f6ffa5;
 font-size: 100px;
 font-weight: 650;
 stroke-width: 3;

 animation: textAnimate 5s infinite alternate;
 
}

@keyframes textAnimate {
 0% {
   stroke-dasharray: 0 50%;
   stroke-dashoffset:  20%;
   fill:hsl(189, 68%, 75%)

 }
 
 100% {
   stroke-dasharray: 50% 0;
   stroke-dashoffset: -20%;
   fill: hsla(189, 68%, 75%,0%)
 }
 
}

/* Answers styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --bg-color:  #426084;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: rgb(252, 252, 252);
  background-color: var(--bg-color);
  font-family: 'Maitree', serif;
}

ul {
  list-style: none;
  text-align: center;
}

ul li{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.6;
    font-size: 32px;
    padding: 0 0.7rem;
    margin-top: 0.7rem;
    
}

ul li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

ul li::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

ul li:nth-of-type(1)::before,
ul li:nth-of-type(1)::after{
    animation-delay: 1s;
}

ul li:nth-of-type(2)::before,
ul li:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

#next-question-button{
  border-radius: 5px;
  font-size: 18px ;
  padding: 0.7rem;
  background-color:#f6ffa5;
  color :#426084;
  float: right;
}

/*----- Question part----- */
h1{
  font-size: 2.7em;
  font-weight: normal;
  text-decoration: underline;
}


/*----- score part----- */
#nav-bar{
 display:flex;
 font-size: 18px;
}
.score-div{
  display: flex;
  font-size: 18px;
  margin-left: auto;
}


/*----- Links part----- */
a{
  border:solid 3px #f6ffa5 ;
  color:#f6ffa5 ;
  font-size: 18px ;
  padding: 0.7rem;
  margin:2rem;
  border-radius: 5px;
}
a:hover {
  background-color:#f6ffa5;
  color :#426084;
  padding:1rem;
}